<div class="container" style="text-align:center">
  <h1>Hello there!</h1>
  <form action="/name" method="post">
    <div class="">
      <label for="name">
        <div>
          What's your name?
        </div>
        <input type="text" name="name" size="30">
      </label>
    </div><br>
    <div class="">
      <label for="date">
        When's your birthday
        <div class="">
          <label for="day">
            day:
            <input type="text" name="day" size="4">
          </label>
          <label for="day">
            month:
            <input type="text" name="month" size="12">
          </label>
        </div>
      </label>
    </div>
    <div class="">
      <br>
      <input type="submit" value="GO!" style="width: 220px;">
    </div>
  </form>
</div>
 
