<div class="container" style="text-align:center">
  <h1>Hello there!</h1>
  <form action="/name" method="post">
    <div class="">
      <label for="name">
        <div>
          What's your name?
        </div>
        <input type="text" name="name" size="30">
      </label>
    </div><br>
    <div class="">
      <label for="date">
        When's your birthday
        <div class="">
          <label for="day">
            day:
            <input type="text" name="day" size="4">
          </label>
          <label for="day">
            month:
            <!-- <input type="text" name="month" size="12"> -->
            <select name="month">
              <option>Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </label>
        </div>
      </label>
    </div>
    <div class="">
      <br>
      <input type="submit" value="GO!" style="width: 220px;">
    </div>
  </form>
</div>
